@{
    ViewData["Title"] = "Movie Added";
}

<div class="text-center">
    <h1 class="display-4">Movie Added Successfully!</h1>

    <div class="my-4">
        <p class="lead">The movie has been added to Joel's collection.</p>

        <div class="mt-4">
            <a asp-controller="Movie" asp-action="Add" class="btn btn-primary">Add Another Movie</a>
        </div>
    </div>
</div>