@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="text-center">
    <h1 class="display-4">Get to Know Joel</h1>

    <div class="my-4">
        <p class="lead">Joel Hilton is a film enthusiast and critic. Check out some of his work:</p>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3>Quick Wits Comedy</h3>
                    </div>
                    <div class="card-body">
                        <p>Joel performs regularly with Quick Wits Comedy.</p>
                        <a href="https://www.qwcomedy.com/" target="_blank" class="btn btn-primary">Visit Quick Wits</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Baconsale</h3>
                    </div>
                    <div class="card-body">
                        <p>Check out Joel's weekly podcast about films & pop culture:</p>
                        <a href="https://baconsale.com/" target="_blank">
                            <img src="~/img/Baconsale.jpg" alt="Baconsale" class="img-fluid mb-3" style="max-width: 300px;" />
                        </a>
                        <div>
                            <a href="https://baconsale.com/" target="_blank" class="btn btn-primary">Visit Baconsale</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>