@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>

    <img src="~/img/JoelHilton.jpg" alt="Joel Hilton" class="img-fluid my-4" style="max-width: 400px;" />

    <p class="lead">Welcome to Joel's curated collection of films!</p>
</div>